<!DOCTYPE html>
<html lang="<%= lang_code %>">
     <head>

          <meta charset="utf-8">
          <meta http-equiv="expires" content="0">
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <meta name="google" content="notranslate">

          <title><%= page_title %></title>

          <meta name="description" content="<%= description %>">
          <meta name="theme-color" content="#d00b12">

          <link rel="preload" href="//fonts.googleapis.com/css?family=Roboto:400,700&amp;display=swap" as="style">
          <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
          <link rel="manifest" href="/static/manifest.json" crossorigin="use-credentials">
          <link href="//fonts.googleapis.com/css?family=Roboto:400,700&amp;display=swap" rel="stylesheet">

          <meta property="al:android:url" content="<%- content_link %>">
          <meta property="al:android:package" content="com.pratilipi.mobile.android">
          <meta property="al:android:app_name" content="Pratilipi">

          <meta property="fb:app_id" content="293990794105516">
          <meta property="og:title" content="<%= og_title %>">
          <meta property="og:description" content="<%= description %>">
          <meta property="og:image:width" content="620">
          <meta property="og:image:height" content="930">
          <meta property="og:type" content="books.book">
          <meta property="og:image" content="<%- image_url %>">
          <meta property="og:url" content="<%= content_link %>">
          <meta property="og:locale" content="<%= locale %>">

          <meta name="twitter:card" content="summary">
          <meta name="twitter:site" content="@TeamPratilipi">
          <meta name="twitter:title" content="<%= content_link %>">
          <meta name="twitter:description" content="<%= description %>">
          <meta name="twitter:image" content="<%- image_url %>">

     </head>
     <body>
          <div class="img-container" id="img-container">
               <img id="img" src="<%- image_url %>" alt="<%= page_title %>" title="<%= og_title %>">
               <div class="description"><%= summary %> Read Books, Stories, Poems and Articles in your language. Read without internet and download unlimited books. Be first to get Android app.</div>
          </div>
     </body>
</html>
